@import "tailwindcss";

.tepa {
    max-width: 1500px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 50px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tepa .chap {
    width: 50%;
    height: auto;
    background-color: aqua;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    color: white;
}

.tepa .ong {
    width: 50%;
    height: auto;
    background-color: aqua;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
    color: white;
}

.bir {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

